.contents{
    margin-left: 90px ; 
    margin-top: 30px;
}

h2{
    font-family: 'BMEULJIRO';
}

a{
    float: right;
    margin-right: 100px;
    margin-bottom: 5px;
    font-family: 'BMEULJIRO';
}

 #searchBox{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(245, 238, 238 , 0.5 );
    width: 85%;
    height: 200px;
    padding-top: 1px;
    margin-left: 5%;
    margin-top: 2%;
    }

#sCondition{
    margin-left: 200px;
    margin-top: 13px
}
    
#zone, #subway{
    width: 250px;
    height: 50px;
    padding-left: 20px;
    /* padding: .8em .5em; */
    border: 1px solid #999;
    color: black;
    background: url('../../../assets/imgs/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    border: 1.5px solid rgb(5, 5, 90);
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top:16px;
    font-weight:bold;
    font-family: 'BMEULJIRO';
    font-size: 13pt;
    }

.box-radio-input input[type="radio"]{
    display:none;
}

.box-radio-input input[type="radio"] + span{
    display:inline-block;
    background:none;
    border:2px solid rgb(117, 112, 112);    
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:bold;
    font-family: 'BMHANNAAir';
    font-size: 13pt;
    cursor:pointer;
}

.box-radio-input input[type="radio"]:checked + span{
    border:1px solid rgb(117, 112, 112);
    background:rgb(117, 112, 112);
    color:#fff;
}

.box-check-input input[type="checkbox"] {
    display: none;
}

.box-check-input input[type="checkbox"] + span{
    display:inline-block;
    background:none;
    border:2px solid rgb(117, 112, 112);    
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:bold;
    font-family: 'BMHANNAAir';
    font-size: 13pt;;
    cursor:pointer;
}

.box-check-input input[type="checkbox"]:checked + span{
    font-family: 'BMHANNAAir';
    border:1px solid rgb(117, 112, 112);
    background:rgb(117, 112, 112);
    color:#fff;
}

input{
    width: 300px;
    height: 50px;
    border: 0px;
    font-family: 'BMHANNAAir';
    font-size: 15pt;
    font-weight: bold;
    border-bottom: 2px solid rgb(5, 5, 90);
    background: rgba(245, 238, 238 , 0.5 );
    padding:10px 0px 0px 10px; 
}

input:focus {
    outline:none;
}

#theme{
    border-bottom: 2px solid rgb(5, 5, 90);
    font-family: 'BMHANNAAir';
    font-size: 15pt;
    font-weight: bold;
}

#sSearch{
   margin-left: 100px;
   width: 150px;
   height: 40px;
   font-family: 'MapoPeacefull';
}

table.reviewTable {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 0px;
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    margin: 15px 10px;
}
table.reviewTable th {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #c94545;
    margin: 20px 10px;
    text-align: center;
    border: 0px;
    border-bottom:1px solid black;
    font-family: 'BMHANNAAir';
    font-size: 15pt;
}
/* table.reviewTable tbody th {
    width: 150px;
    padding: 10px;
    border-bottom:1px solid black;
    font-family: 'BMHANNAAir';
    font-size: 20pt;
} */
table.reviewTable td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border: 0px;
    border-bottom:1px solid black;
    font-family: 'BMHANNAAir';
    font-size: 13pt;
}
table.reviewTable .even {
    background: #fdf3f5;
    font-family: 'BMHANNAAir';
}

#boardWrite{
    width: 150px;
    height: 40px;
    margin-left: 85%;
    margin-bottom: 5%;
    font-family: 'MapoPeacefull';
}
