.footer{
    font-size: 15pt;
    color: black;
    text-align: center;
}

.footer h2{
    display: inline;
    font-family: 'SDKukdetopokki-Lt';
    font-size: 18pt;
}

.footer h5{
    font-family: 'BMHANNAAir';
    
}

.footer p{
    font-size: 10pt;
    font-family: 'MapoPeacefull';
    text-align: center;
}