<div id="myGrid" class="contents" style="margin-right: 200px ; margin-left: 200px ; margin-top: 60px">
    <h2> 관리자 화면 </h2>
    <h3>==유저관리==</h3>
        <div>
        <button type="button" class="btn btn-outline-primary" (click)="onAddRowUser()">
            <span class="glyphicon glyphicon-plus"></span> Add New User
        </button> &nbsp;
        <button type="button" class="btn btn-outline-success" (click)="updateItems()">
            <span class="glyphicon glyphicon-pencil"></span> Update User
        </button> &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="onRemoveSelected()">
            <span class="glyphicon glyphicon-trash"></span> Delete User Selected
        </button>
        </div>
        <br>
    <ag-grid-angular ag-grid-angular #agGrid id="myGridUser" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowDataUser"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefsUser"                 
                     [pagination]="true"                      
                     [paginationPageSize]=25                               
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>

    <br>
    <h3>==식당관리==</h3>
    <ag-grid-angular ag-grid-angular #agGrid id="myGridRestaurant" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowDataRestaurant"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefsRestaurant"                 
                     [pagination]="true"                      
                     [paginationPageSize]=25                               
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>

    <h3>==댓글관리==</h3>
    <ag-grid-angular ag-grid-angular #agGrid id="myGridComment" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowDataComment"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefsComment"                 
                     [pagination]="true"                      
                     [paginationPageSize]=25                            
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>
</div>