<div id="myGrid" class="contents" style="margin-right: 200px ; margin-left: 200px ; margin-top: 60px">
    <h2> 관리자 화면 </h2>    
    <div class="tabmenu" style="font-family: 'MapoPeacefull'">
        <ul>
            <li id="tab1" class="btnCon">
                <input class="radioInput" type="radio" checked name="tabmenu" id="tabmenu1">
                <label for="tabmenu1">유저관리</label>
                
                <div class="tabCon">
                    <div class="buttonList">
                        <button type="button" class="btn btn-outline-primary" (click)="onAddRowUser()">Add Row</button>
                        <button type="button" class="btn btn-outline-success" (click)="updateItemsUser()">Update Row</button>
                        <button type="button" class="btn btn-outline-danger" (click)="onRemoveSelectedUser()">Remove Selected</button>
                    </div>
                    
                    <br>
                    <ag-grid-angular ag-grid-angular #agGrid id="myGridUser" 
                        style="min-width: 1100px; min-height: 300px; margin-left: 110px; margin-right: 100px; "
                        [ngClass]="theme"                           
                        [rowData]="rowDataUser"                          
                        [defaultColDef]="defaultColDef"             
                        [columnDefs]="columnDefsUser"                 
                        [pagination]="true"                      
                        [paginationPageSize]=25                               
                        [rowHeight]="30"                       
                        (gridReady)="onGridUserReady($event)"
                        (firstDataRendered)="fitColumnsSize($event)" 
                        (rowDataChanged)="fitColumnsSize($event)">   
                    </ag-grid-angular>
                </div>                    
            </li>

            <li id="tab2" class="btnCon">
                <input class="radioInput" type="radio" name="tabmenu" id="tabmenu2">
                <label for="tabmenu2">식당 관리</label>
                
                <div class="tabCon">
                    <div class="buttonList">
                        <button type="button" class="btn btn-outline-primary" (click)="onAddRowRestaurant()">Add Row</button>
                        <button type="button" class="btn btn-outline-success" >Update Row</button>
                        <button type="button" class="btn btn-outline-danger" (click)="onRemoveSelectedRestaurant()">Remove Selected</button>
                    </div>
                    
                    <br>
                    <ag-grid-angular ag-grid-angular #agGrid id="myGridRestaurant" 
                    style="min-width: 1250px; min-height: 300px; margin-left: 50px; margin-right: 50px;"
                    [ngClass]="theme"                           
                    [rowData]="rowDataRestaurant"                          
                    [defaultColDef]="defaultColDef"             
                    [columnDefs]="columnDefsRestaurant"                 
                    [pagination]="true"                      
                    [paginationPageSize]=25                               
                    [rowHeight]="30"                       
                    (gridReady)="onGridRestaurantReady($event)"
                    (firstDataRendered)="fitColumnsSize($event)" 
                    (rowDataChanged)="fitColumnsSize($event)">
                    </ag-grid-angular>
                </div>
            </li>

            <li id="tab3" class="btnCon">
                <input class="radioInput" type="radio" name="tabmenu" id="tabmenu3">
                <label for="tabmenu2">댓글 관리</label>
                
                <div class="tabCon">
                    <div class="buttonList">
                        <button type="button" class="btn btn-outline-primary" >Add Row</button>
                        <button type="button" class="btn btn-outline-success" >Update Row</button>
                        <button type="button" class="btn btn-outline-danger" >Remove Selected</button>
                    </div>
                    
                    <br>
                    <ag-grid-angular ag-grid-angular #agGrid id="myGridComment" 
                    style="min-width: 1100px; min-height: 300px; margin-left: 110px; margin-right: 100px;"
                    [ngClass]="theme"                           
                    [rowData]="rowDataComment"                          
                    [defaultColDef]="defaultColDef"             
                    [columnDefs]="columnDefsComment"                 
                    [pagination]="true"                      
                    [paginationPageSize]=25                            
                    [rowHeight]="30"                       
                    (gridReady)="onGridCommantReady($event)"
                    (firstDataRendered)="fitColumnsSize($event)" 
                    (rowDataChanged)="fitColumnsSize($event)">  
                    </ag-grid-angular>   
                </div>
            </li>
        </ul>
    </div>


    <!--
    <div>
        <button type="button" class="btn btn-outline-primary" (click)="goAddUpDelete('add')">
            <span class="glyphicon glyphicon-plus"></span> Add New
        </button> &nbsp;
        <button type="button" class="btn btn-outline-success" (click)="goAddUpDelete('up')">
            <span class="glyphicon glyphicon-pencil"></span> Update
        </button> &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="goAddUpDelete('del')">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </div>

    <h3>==유저관리==</h3>     
    <br>
    <ag-grid-angular ag-grid-angular #agGrid id="myGridUser" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowDataUser"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefsUser"                 
                     [pagination]="true"                      
                     [paginationPageSize]=25                               
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>

    <br>
    <h3>==식당관리==</h3>
    <ag-grid-angular ag-grid-angular #agGrid id="myGridRestaurant" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowDataRestaurant"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefsRestaurant"                 
                     [pagination]="true"                      
                     [paginationPageSize]=25                               
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>

    <h3>==댓글관리==</h3>
    <ag-grid-angular ag-grid-angular #agGrid id="myGridComment" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowDataComment"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefsComment"                 
                     [pagination]="true"                      
                     [paginationPageSize]=25                            
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>
    -->
</div>