<div id="myGrid" class="contents" style="margin-right: 200px ; margin-left: 200px ; margin-top: 60px">
    <h2> 관리자 화면 </h2>
    <ag-grid-angular ag-grid-angular #agGrid id="myGrid" 
                     style="min-width: 500px; min-height: 300px;"
                     [ngClass]="theme"                           
                     [rowData]="rowData"                          
                     [defaultColDef]="defaultColDef"             
                     [columnDefs]="columnDefs"                 
                     [pagination]="true"                      
                     [paginationPageSize]=50                   
                     [enableBrowserTooltips]="true"            
                     [rowHeight]="30"                       
                     (gridReady)="onGridReady($event)"
                     (firstDataRendered)="fitColumnsSize($event)" 
                     (rowDataChanged)="fitColumnsSize($event)">

    </ag-grid-angular>
</div>