.contents{
    width: 95%;
    height: auto;
    /* border: 2px solid black; */
    margin-left: 3%;
    
}

.board{
    width: 70%;
    height: 600px;
    border: 2px solid black;
    margin-left: 13%;
    margin-top: -2%;
}

.board  #reiTitle, #reiDate{
    display: inline-block;
}

#order1{
width : 45%;
height: auto;
margin-left: 8%;
margin-bottom: 2%;
border-bottom: 2px dashed rgb(5, 5, 90);
}

#reiTitle{
font-family: 'BMHANNAAir';
font-size: 20pt;
font-weight: bold;
margin-left: 8%;
/* margin-bottom: -12%; */
}

#reiDate{
    font-family: 'BMHANNAAir';
    margin-left: 55%;
}

#relName{
        width: 20%;
        height: 25px;
        font-family: 'BMHANNAAir';
        font-size: 17pt;
        font-weight: bold;
        border-bottom: 2px solid rgb(5, 5, 90);
        margin-left: 18%;
        margin-bottom: 3%;
}

#userNick{
        width: 15%;
        height: 25px;
        font-family: 'BMHANNAAir';
        font-size: 13pt;
        font-weight: bold;
        border-bottom: 2px solid rgb(5, 5, 90);
        margin-left: 13%;
        margin-bottom: 3%;
    }

#relName, #userNick{
    display: inline;
}

#visitDate, #visitTime, #oTitle{
    font-family: 'BMHANNAAir';
    display: inline;
}

#order3{
    width : 40%;
    height: auto;
    margin-left: 55%;
    margin-bottom: 2%;
    border-bottom: 1px solid rgb(5, 5, 90);
}

#boardContent{
    width: 60%;
    height: auto;
    border: 1px solid rgb(5, 5, 90);
    margin-left: 18%;
}
img{
width: 495px;
height: 305px;
}