<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <h2 id="logo" (click)="goMain()">냠냠 _ 서울</h2>
     <div id="login">
      <a (click)="goLogin()" style="font: size 0.3em;">Sign In</a>
      <span>|</span>
      <a (click)="goSignUp()" style="font: size 0.3em;">Sign Up</a>
    </div>
</div>

<div id="navbar">
  <a class="active" (click)="goMain()">Home</a>
  <a href="javascript:void(0)" (click)="goMap()">지도검색</a>
  <a href="javascript:void(0)">통합검색</a>
  <a href="javascript:void(0)">후기</a>
  <a href="javascript:void(0)">Contact</a>
</div>


</body>
</html>
