.search{
background-image: url('../../assets/imgs/cook.jpg');
margin-left: 100px;
width: 1500px;
height: 500px;
}

#zone, #subway{
width: 200px;
padding: .8em .5em;
border: 1px solid #999;
font-family: inherit;
color: white;
background: url('../../assets/imgs/arrow.jpg') no-repeat 95% 50%;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin-top:50px
}

option {
    background-color: #333333;
}

.w3-content{
    margin-top: 10px;
}