
.container{
    overflow: hidden;
    margin-top: 20px;
    background-color: antiquewhite;
    width: 3000px;
    margin-left: 200px;
}
    
    .main-photo-list{
        display: inline-flex;
        flex-flow: column wrap;
        align-content: center;
    }
        

.main-photo{
    width: 50px;
    border-radius: 5px;
}