<div class="search">
  <div id="searchBox">
    <div id="selectBox">
    <select id="zone" [(ngModel)]="zoneValue" name="zoneValue" (change)="getSubwayInfo()">
      <option selected value="지역구 선택">지역구 선택</option>
      <option *ngFor="let zone of zoneList" [value]="zone.zoneNum">{{zone.zoneName}}
      </option>
    </select> &nbsp;
    <select id="subway" [(ngModel)]="subValue" name="subValue" (change)="getSubValue(subValue)">
      <option selected value="지하철역 선택">지하철역 선택</option>
      <option *ngFor="let sub of subList" [value]="sub.subwayNum">{{sub.subwayName}} (
        <p *ngIf="sub.subwayLine1">| 1호선 |</p>
        <p *ngIf="sub.subwayLine2">| 2호선 |</p>
        <p *ngIf="sub.subwayLine3">| 3호선 |</p>
        <p *ngIf="sub.subwayLine4">| 4호선 |</p>
        <p *ngIf="sub.subwayLine5">| 5호선 |</p>
        <p *ngIf="sub.subwayLine6">| 6호선 |</p>
        <p *ngIf="sub.subwayLine7">| 7호선 |</p>
        <p *ngIf="sub.subwayLine8">| 8호선 |</p>
        <p *ngIf="sub.subwayLine9">| 9호선 |</p>
        <p *ngIf="sub.subwayLine10">| 분당선 |</p>
        <p *ngIf="sub.subwayLine11">| 신분당선 |</p>
        <p *ngIf="sub.subwayLine12">| 공항철도 |</p>
        <p *ngIf="sub.subwayLine13">| 경의중앙선 |</p>
        <p *ngIf="sub.subwayLine14">| 경춘선 |</p>
        <p *ngIf="sub.subwayLine15">| 우이신설 |</p>
        )
      </option>
    </select>
    &nbsp;&nbsp;
    <button (click)="doSearch(zoneValue, subValue)"> Search!</button>
    <!-- <div class="button-8">
      <div class="eff-8"></div>
      <a (click)="doSearch(zoneValue, subValue)"> Touch me </a>
    </div> -->
    <!-- <button (click)="doSearch(zoneValue, subValue)">검색</button> -->
  </div>
  </div>
</div>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-white" style="width: 1400px;margin-left: 150px; margin-top: 10px;">
    <img src="../../assets/imgs/masala-1.jpg" alt="nyamnyam" style="width:1400px; height:300px ">
      <div class="w3-container">
        <h3 id="logo"><b>냠냠_서울</b><img src="../../assets/imgs/logo.png" style="width: 60px;"></h3>
        <h5 id="intro1">서울의 맛집을 찾아서!! <span class="w3-opacity">February 29, 2020</span></h5>
      </div>
      <div class="w3-container" id="intro2">
        <p>서울의 맛집을 지역구와 지하철역으로 검색하고 지도에서 확인하세요. <br>
            그리고 맛집의 후기 또는 숨은 맛집, 나만 알고 있는 맛집을 여러 사람들과 공유하세요</p>
      </div>
    </div>
  <!-- END BLOG ENTRIES -->

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px; margin-left: 100px;">
  <!-- Photo Grid -->
  <div class="w3-row" id="myGrid" style="margin-bottom:128px">
    <div class="w3-third">
      <img src="../../assets/imgs/egg.jpg" style="width:499px; height: 550px;">
      <img src="../../assets/imgs/han.jpg" style="width:499px; height: 227px;">
      <!-- <img src="../../assets/imgs/cupcakes.jpg" style="width:499.99px; height: 157.13px;"> -->
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 427px;"> -->
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 333.32px;"> -->
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 127px;"> -->
    </div>

    <div class="w3-third">
      <img src="../../assets/imgs/cupcakes.jpg" style="width:499px; height: 248px;">
      <!-- <img src="../../assets/imgs/muffin.jpg" style="width:499.99px; height: 200px;"> -->
      <img src="../../assets/imgs/kitchen.jpg" style="width:499px; height: 526px;">
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 354px;"> -->
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 849.97px;">
      <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 312px;"> -->
    </div>

    <div class="w3-third">
      <img src="../../assets/imgs/hungrry.jpg" style="width:499px; height: 488px;">
      <img src="../../assets/imgs/sushi.jpg" style="width:499px; height: 286px;">
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 176px;"> -->
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 501px;"> -->
      <!-- <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 333.32px;">
      <img src="../../assets/imgs/cookie.jpg" style="width:499.99px; height: 499.99px;"> -->
    </div>
  </div>

  <!-- End Page Content -->
</div>