<h3>통합검색</h3>
<div class="flex-container">
    <h4>테마</h4>
    <br>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
  </div>
  <br>
  <div class="flex-container" style="margin-bottom: 20px;">
    <h4>음식 종류</h4>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            eeee<br>
            eeeeee
        </div>
    </div>
  </div>
