<div class="total">   
    <br>
    <h4>테마</h4>
<div class="flex-container">
    <div class="flex-item">
        <div>
            <img id="themeImg" src="../../../assets/imgs/alone.jpg" (click)="goResult()">
        </div>
        <div>
            혼자서
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img id="themeImg" src="../../../assets/imgs/two.jpg" (click)="goResult()">
        </div>
        <div>
            둘이서
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img id="themeImg" src="../../../assets/imgs/more.jpg" (click)="goResult()">
        </div>
        <div>
            넷이상
        </div>
    </div>
  </div>
  <br>
  <h4>음식 종류</h4>
  <div class="flex-container" style="margin-bottom: 20px;">
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/sik.png" (click)="goResult()">
        </div>
        <div>
            한식
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/chinese.jpg" (click)="goResult()">
        </div>
        <div>
            중식
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/pasta.jpg" (click)="goResult()">
        </div>
        <div>
          양식
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/japan.jpg" (click)="goResult()">
        </div>
        <div>
            일식
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/waff.jpg" (click)="goResult()">
        </div>
        <div>
            디저트
        </div>
    </div>
    <div class="flex-item">
        <div>
            <img src="../../../assets/imgs/taco.jpg" (click)="goResult()">
        </div>
        <div>
          기타
        </div>
    </div>
  </div>
</div>
