.total{
  width: 95%;
  height: auto;
  margin-top: 2%;
  margin-left: 2%;
}

h3{
  font-family: 'BMEULJIRO';
    font-size: 200%;
    margin-left: 5%;
    margin-top: 1%;
}

h4{
  font-family: 'BMEULJIRO';
  font-size: 200%;
  margin-left: 15%;
  margin-bottom: -0.5%
}

.flex-container {   
    display: flex;
    float: center;
    width: 80%;
    /* margin-left: 100px; */
    margin: 10px auto;
    /* margin-top: 50px; */
    padding: 15px;
    border-radius: 5px;
    /* background: #60B99A; */
    flex-direction: row;
    overflow: auto;
    
  }

  .flex-item {
    display: inline-block;
    width: 40%;
    height: 70%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(5, 5, 90);
    font-family: 'BMEULJIRO';
    font-size: 20pt
  }
  
    #themeImg{
      width: 250px;
      height:150px;
      margin-left: -5px;
      margin-top: -10px;
    }

  img{
      width: 200px;
      height:150px;
      margin-left: -5px;
      margin-top: -10px;
  }