<div class="mResult">

  <div class="mapSearch">
    <!--<select [(ngModel)]="getZones()" >
      <option disabled value="">지역 선택</option>
      <option **ngFor="let zone of zoneInfos">{{zone.zoneName}}</option>
    </select>
    -->
    &nbsp;
    <select [(ngModel)]="subValue" name="subValue">
      <option selected [value]="subValue">{{subValue}}</option>
    </select>
  </div>
  <div class="map" id="kakao-map">
  </div>
  <div id="sort">
    <a>거리순</a>/<a>평점순</a>/<a>가격낮은순</a>/<a>가격높은순</a>
  </div>
  <div class="flex-container">
    <div class="flex-item" *ngFor="let rel of rels">
      <div>{{rel.relName}}</div>
      <div>{{rel.relSubAddress}}</div>
      <div>{{rel.relCall}}</div>
    </div>
  </div>
</div>