<div class="mResult">
  <div class="mapSearch">&nbsp;&nbsp;&nbsp;

    <div id="selectBox">
      <select id="zone" [(ngModel)]="zoneValue" name="zoneValue" (change)="getSubway()">
        <option selected [value]="0">지역구 선택</option>
        <option *ngFor="let zone of zoneList" [value]="zone.zoneNum">{{zone.zoneName}}
        </option>
      </select> &nbsp;
      <select id="subway" [(ngModel)]="subValue" name="subValue">
        <option selected [value]="0">지하철역 선택</option>
        <option *ngFor="let sub of subList" [value]="sub.subwayNum">{{sub.subwayName}} (
          <p *ngIf="sub.subwayLine1">| 1호선 |</p>
          <p *ngIf="sub.subwayLine2">| 2호선 |</p>
          <p *ngIf="sub.subwayLine3">| 3호선 |</p>
          <p *ngIf="sub.subwayLine4">| 4호선 |</p>
          <p *ngIf="sub.subwayLine5">| 5호선 |</p>
          <p *ngIf="sub.subwayLine6">| 6호선 |</p>
          <p *ngIf="sub.subwayLine7">| 7호선 |</p>
          <p *ngIf="sub.subwayLine8">| 8호선 |</p>
          <p *ngIf="sub.subwayLine9">| 9호선 |</p>
          <p *ngIf="sub.subwayLine10">| 분당선 |</p>
          <p *ngIf="sub.subwayLine11">| 신분당선 |</p>
          <p *ngIf="sub.subwayLine12">| 공항철도 |</p>
          <p *ngIf="sub.subwayLine13">| 경의중앙선 |</p>
          <p *ngIf="sub.subwayLine14">| 경춘선 |</p>
          <p *ngIf="sub.subwayLine15">| 우이신설 |</p>
          )
        </option>
      </select>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-outline-success" (click)="doSearch(zoneValue, subValue)"> Search!</button>
    </div>

    <div class="map" id="kakao-map">
      <br>
      <span id="asdasd" *ngIf="!rels" style="font-size: 20pt;font-weight:bold; color:rgb(5, 5, 90);margin-left:5%;">검색 결과가 없습니다.</span>
    </div>
    <br>
    <div id="btn_group">
        <button id="btnDistanceOrder">거리순</button>
        <button id="btnRankOrder">평점순</button>
        <button id="btnPriceIncreaseOrder">가격높은순</button>
        <button id="btnPriceDecreaseOrder">가격낮은순</button>
    </div>
    <div class="flex-container">
      <br>
      <span *ngIf="!rels" style="font-size: 20pt;font-weight:bold; color:rgb(5, 5, 90);margin-left:5%;">검색 결과가 없습니다.</span>
      <!-- <div *ngFor="let mei of meis">{{mei.meiImg1Name}}</div> -->
      <div class="flex-item" *ngFor="let rel of rels" (click)="goRelPage(rel.relNum)">        
        <img src="menu[0].meiImg1Name">
        <div>{{rel.relName}}</div>
        <div>{{rel.relSubAddress}}</div>
        <div>{{rel.relCall}}</div>
      </div>
    </div>
  </div>
  <!-- <button (click)="closeMap()">지도닫기</button> -->