<div class="text-center">
  <div class="form-signin">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
          <img src="../../../assets/imgs/yippen.jpg" width="500px" height="650" style="border-radius: 10px;">
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
          <div class="signupForm">
            <br>
            <h1>Please sign up</h1>
            <br>
            <div class="form-sign-certi" *ngIf="!isCerti">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" id="inputEmail" class="fas fa-envelope fa-2x" placeholder="&#xf0e0; Email"
                [(ngModel)]="cui.cuiEmail">
              <br>
              <br>
              <button id="checkBtn" type="button" (click)="checkEmail()" *ngIf="!isSend"> 이메일 인증받기</button>
              <br>
              <br>
              <br>
              <h4>이미 회원이신가요?</h4>
              <button id="goBtn" type="button" (click)="goSignIn()">로그인</button>
            </div>

            <div *ngIf="isSend && !isCerti">
              <br>
              <br>
              <label for="inputCertification">
                <h3>인증번호</h3>
              </label>
              <input type="text" id="inputCertification" class="form-control" placeholder="Certification Number"
                [(ngModel)]="certificationNumber">
              <br>
              <button id="conNumber" type="button" (click)="confirmCertificationNumber()"> 인증번호 확인</button>
              &nbsp;&nbsp;
              <button id="reMail" type="button" (click)="doSendMail()">이메일 재전송</button>
            </div>

            <div class="signinput" *ngIf="isCerti">
              <label for="inputId" class="sr-only">User ID</label>
              <input type="text" id="inputId" class="fas fa-user" placeholder="&#xf007; User ID"
                [(ngModel)]="cui.cuiId">
              <div *ngIf="!type; else haveType">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="fas fa-lock" placeholder="&#xf023; Password"
                  [(ngModel)]="cui.cuiPwd">
              </div>
              <ng-template #haveType>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="fas fa-lock" placeholder="&#xf023; Password"
                  [(ngModel)]="cui.cuiPwd">
                <label for="confirmPassword" class="sr-only">Confirm</label>
                <input type="password" id="confirmPassword" class="fas fa-lock" placeholder="&#xf023; ConfirmPassword"
                  [(ngModel)]="confirmPwd">
                <p *ngIf="(cui.cuiPwd !== confirmPwd) && confirmPwd" style="color: red; font-size: 10px; position: absolute; margin-left: 30px; margin-top: -10px;">비밀번호를 확인해주세요.</p>
              </ng-template>
              <label for="inputName" class="sr-only">Name</label>
              <input type="text" id="inputName" class="fas fa-signature" placeholder="&#xf5b7; Name"
                [(ngModel)]="cui.cuiName">
              <label for="inputNickname" class="sr-only">NickName</label>
              <input type="text" id="inputNickname" class="far fa-laugh" placeholder="&#xf599; Nickname"
                [(ngModel)]="cui.cuiNickname">
              <label for="inputBirth" class="sr-only">Birth</label>
              <input type="date" id="inputBirth" class="fas fa-birthday-cake" placeholder="&#xf1fd; Birth"
                [(ngModel)]="cui.cuiBirth">
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="text" id="inputEmail" class="fas fa-envelope" placeholder="&#xf0e0; Email"
                [(ngModel)]="cui.cuiEmail" readonly>
              <label for="inputPhone" class="sr-only">Phone</label>
              <input type="test" maxlength="11" id="inputPhone" class="fas fa-mobile-alt" placeholder="&#xf3cd; PhoneNumber"
                [(ngModel)]="cui.cuiPhone">
              <br>
              <br>
              <div class="checks">
                <label class="box-radio-input">
                  <input type="radio" name="trans" value="1" [(ngModel)]="cui.cuiTrans">
                  <span>Male</span>
                </label>
                &nbsp;&nbsp;
                <label class="box-radio-input">
                  <input type="radio" name="trans" value="2" [(ngModel)]="cui.cuiTrans">
                  <span>Female</span>
                </label>
              </div>
              <button *ngIf="!type" id="upBtn" type="button" (click)="doSignUp()">Sign up</button>
              <button *ngIf="type" id="upBtn" type="button" (click)="doModify()">Edit Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>