
<div class="boardwrite" style=" margin-left: 450px ; margin-right: auto; margin-top: 60px; margin-bottom: 40px;">
  <h3>후기를 작성해주세요!</h3>

  <input type="text" id="inputNickname" placeholder="Nickname" [(ngModel)]="cui.cuiNickname">  
  <input type="date" id="inputNickname" placeholder="VisitDate" [(ngModel)]="cui.reiDate">
  <br>
  <br>
  <div class="checks" style="margin-left: 15px;">
    <p>
      <label for="inputVisitDate" id="time">방문시간</label>&nbsp;&nbsp;&nbsp;&nbsp;   
    <label class="box-radio-input">
      <input type="radio" name="times" value="1" [(ngModel)]="cui.reiTime">
        <span>아침</span>
    </label>
    &nbsp;&nbsp;
    <label class="box-radio-input">
      <input type="radio" name="times" value="2" [(ngModel)]="cui.reiTime">
        <span>점심</span>
    </label>
    &nbsp;&nbsp;
    <label class="box-radio-input">
      <input type="radio" name="times" value="3" [(ngModel)]="cui.reiTime">
        <span>저녁</span>
    </label>
    &nbsp;&nbsp;
    <label class="box-radio-input">
      <input type="radio" name="times" value="4" [(ngModel)]="cui.reiTime">
        <span>밤</span>
    </label>
  </p>
  </div>
  <br>
  <div id="selectBox" style="margin-left: 15px;">
    <p>
    <label for="inputZoneSubway" id="visit">방문구역</label>&nbsp;&nbsp;&nbsp;&nbsp;   
    <select id="zone" [(ngModel)]="zoneValue" name="zoneValue" (change)="getSubwayInfo()">
      <option selected value="지역구 선택">지역구 선택</option>
      <option *ngFor="let zone of zoneList" [value]="zone.zoneNum">{{zone.zoneName}}
      </option>
    </select> &nbsp;
    <select id="subway" [(ngModel)]="subValue" name="subValue" (change)="getSubValue(subValue)">
      <option selected value="지하철역 선택">지하철역 선택</option>
      <option *ngFor="let sub of subList" [value]="sub.subwayNum">{{sub.subwayName}} (
        <p *ngIf="sub.subwayLine1">| 1호선 |</p>
        <p *ngIf="sub.subwayLine2">| 2호선 |</p>
        <p *ngIf="sub.subwayLine3">| 3호선 |</p>
        <p *ngIf="sub.subwayLine4">| 4호선 |</p>
        <p *ngIf="sub.subwayLine5">| 5호선 |</p>
        <p *ngIf="sub.subwayLine6">| 6호선 |</p>
        <p *ngIf="sub.subwayLine7">| 7호선 |</p>
        <p *ngIf="sub.subwayLine8">| 8호선 |</p>
        <p *ngIf="sub.subwayLine9">| 9호선 |</p>
        <p *ngIf="sub.subwayLine10">| 분당선 |</p>
        <p *ngIf="sub.subwayLine11">| 신분당선 |</p>
        <p *ngIf="sub.subwayLine12">| 공항철도 |</p>
        <p *ngIf="sub.subwayLine13">| 경의중앙선 |</p>
        <p *ngIf="sub.subwayLine14">| 경춘선 |</p>
        <p *ngIf="sub.subwayLine15">| 우이신설 |</p>
        )
      </option>
    </select>
  </p>
  </div>
  <br>
  <div class="ng-autocomplete" id="inputReiname" [(ngModel)]="rei.reiName" style="margin-left: 15px;">
    <p>
    <label for="inputRestaurant" id="restaurant">방문식당</label>  
      <ng-autocomplete [data]="data" [searchKeyword]="keyword" aria-placeholder="식당이름을 입력해주세요"
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">                                 
      </ng-autocomplete>
      
      <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
      </ng-template>
      
      <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
    </p>
    </div>
  <br>
  <div class="checks" style="margin-left: 15px;">    
    <p>
  <label for="inputTheme" id="theme">몇 명과 식사?</label>&nbsp;&nbsp;&nbsp;&nbsp;  
    <label class="box-check-input">
      <input type="checkbox" name="themes" value="1" [(ngModel)]="cui.cuiTrans">
        <span>혼자</span>
    </label>
    &nbsp;&nbsp;
    <label class="box-check-input">
      <input type="checkbox" name="themes" value="1" [(ngModel)]="cui.cuiTrans">
        <span>둘이서</span>
    </label>
    &nbsp;&nbsp;
    <label class="box-check-input">
      <input type="checkbox" name="themes" value="1" [(ngModel)]="cui.cuiTrans">
        <span>넷 이상</span>
    </label>
  </p>
  </div>

  <div class="write">
      <ckeditor [(data)]="editorValue" [config]="ckEditorConfig"></ckeditor>  
  </div>
</div>
