h3{
    font-family: 'MapoPeacefull';
}

#time, #visit, #restaurant, #theme{
    border-bottom: 2px solid rgb(5, 5, 90);
    font-family: 'BMHANNAAir';
    font-size: 12pt;
    font-weight: bold;
}
.boardwrite input#inputNickname{
    margin-left: 10px;
    margin-top: 20px;
    width : 600px;
    height: 40px; 
    padding:5px 0px 0px 10px; 
    border: 0px; 
    border-bottom: 2px solid  rgb(5, 5, 90);
    font-family: 'BMHANNAAir';
    font-weight: bold;
    font-size: 12pt;
}

.boardwrite input#inputVisitDate{
    margin-left: 10px;
    margin-top: 20px;
    width : 600px;
    height: 40px; 
    padding:5px 0px 0px 10px; 
    border: 0px; 
    border-bottom: 2px solid  rgb(5, 5, 90);
    font-family: 'BMHANNAAir';
    font-weight: bold;
}

.boardwrite input#inputReiname{
    margin-left: 10px;
    margin-top: 20px;
    width : 600px;
    height: 40px; 
    padding:5px 0px 0px 10px; 
    border: 0px; 
    border-bottom: 2px solid  rgb(5, 5, 90);
    font-family: 'BMHANNAAir';
    font-weight: bold;
}




.box-radio-input input[type="radio"]{
    display:none;
}

.box-radio-input input[type="radio"] + span{
    display:inline-block;
    background:none;
    border:2px solid rgb(117, 112, 112);    
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:bold;
    font-family: 'BMHANNAAir';
    font-size: 13pt;
    cursor:pointer;
}

.box-radio-input input[type="radio"]:checked + span{
    border:1px solid rgb(117, 112, 112);
    background:rgb(117, 112, 112);
    color:#fff;
}

.box-check-input input[type="checkbox"] {
    display: none;
}

.box-check-input input[type="checkbox"] + span{
    display:inline-block;
    background:none;
    border:2px solid rgb(117, 112, 112);    
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:bold;
    font-family: 'BMHANNAAir';
    font-size: 13pt;;
    cursor:pointer;
}

.box-check-input input[type="checkbox"]:checked + span{
    font-family: 'BMHANNAAir';
    border:1px solid rgb(117, 112, 112);
    background:rgb(117, 112, 112);
    color:#fff;
}

#zone, #subway{
    width: 250px;
    height: 50px;
    padding-left: 20px;
    /* padding: .8em .5em; */
    border: 1px solid #999;
    color: black;
    background: url('../../../assets/imgs/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top:16px;
    font-weight:bold;
    font-family: 'BMHANNAAir';
    font-size: 13pt;
    }

.ng-autocomplete {
    width: 400px;
    font-weight:bold;
    font-family: 'BMHANNAAir';
    font-size: 13pt; 
}

.editor{
    border: 2px solid black;
    width: 600px;
    height: 600px;
    margin-left: 15px;
}