.mypage{
    width: 95%;
    height: 570px;
    margin-left: 20px;
    
}


#commentTable > tr:nth-child(2) {
  counter-increment: Mycount;
}
#commentTable > tr:nth-child(2) > td#counters {
  content : counter(Mycount) " ";
}


ul{
  list-style:none;
}

.tabmenu{ 
  max-width:93%; 
  margin: 2.5% 0 0 2%; 
  position:relative; 
  /* border: 2px solid rgb(5, 5, 90); */
}
.tabmenu ul li{
  display:  inline-block;
  width:24.5%; 
  /* float:left;   */
  text-align:center; 
  background : white;
  line-height:40px;
  border-bottom: 2px solid rgb(5, 5, 90); 
}
.tabmenu label{
  display:block;
  width:100%; 
  height:30px;
  line-height:30px;
  font-size: 13pt;
  font-weight: bold;
}

.tabmenu .radioInput{
  display:none;
}

.tabCon{
  display:none; 
  margin-left: 20%;
  text-align:center; 
  padding: 10px;
  position:absolute; 
  left:0; top:40px; 
  box-sizing: border-box; 
  width: 1500px;  
  /* border : 5px solid #e70404; */
  overflow-x:auto; 
  overflow-y:auto;
}

.tabConEdit{
  display:none; 
  text-align:left; 
  padding: 20px;
  position:absolute; 
  left:0; top:40px; 
  box-sizing: border-box; 
  /* border : 5px solid #e70404; */
}

.tabmenu input:checked ~ label{
  background: rgba(203, 203, 235, 0.349);
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}

.tabmenu input:checked ~ .tabConEdit{
  display : block;
}

.table{ 
  min-width: 2000px;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-right: 50%; */
  text-align: center; 
  font-family: 'GyeonggiBatang'; 
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #444444;
  padding: 5px;
}


.reLogin{ 
  width: 100%;
  height: 90%;
  margin: 5% 0 0 90%;
}
.reLogin input#inputId{
  width : 70%;
  height: 40px; 
  padding:5px 0px 0px 10px; 
  border: 0px; 
  border-bottom: 2px solid  rgb(5, 5, 90);
  
}

.reLogin input#inputPassword{
  width : 70%;
  height: 40px; 
  padding:5px 0px 0px 10px; 
  border: 0px; 
  border-bottom: 2px solid  rgb(5, 5, 90);
  
}

input:focus {
  outline:none;
}

#signBtn{
  background-color: rgb(2, 19, 51);
  border-radius: 10px;
  width: 50%;
  height: 50px;
  font-family: 'GyeonggiBatang'; 
  font-size: 15pt;
  color: cornsilk;
  margin-top: 5%;
  margin-left: 80%;
}

#signBtn:hover{
  background-color: rgb(214, 201, 245);
}

#buttonDel button{ 
  border: 1px solid #c94545; 
  background-color: rgba(0,0,0,0); 
  color: #c94545; 
  padding: 5px; 
}

#buttonDel button:hover{ 
  color:white; 
  background-color: #c94545; 
}
