<div class="mypage">
  <div class="tabmenu" style="font-family: 'MapoPeacefull'">
    <ul>
      <li id="tab1" class="btnCon"> 
        <input class="radioInput" type="radio" checked name="tabmenu" id="tabmenu1">
        <label for="tabmenu1">좋아요 식당</label>
        <div class="tabCon">
            <table class="likeTable" border="1px solid rgb(5, 5, 90)">             
              <colgroup>
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:28%">
                <col style="width:40%">
                <col style="width:30%">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <!-- <th scope="col">선택</th> -->
                  <th scope="col">번호</th>
                  <th scope="col">구</th>
                  <th scope="col">식당이름</th>
                  <th scope="col">좋아요 누른 날짜</th>
                </tr>
              </thead>            
              <tbody>   
                <tr *ngFor="let like of likeLists" onmouseover="this.style.backgroundColor='rgba(255,234,244,0.5)'" onmouseout="this.style.backgroundColor=''" >
                  <td><input type="checkbox" name="checkGetId" value={{like.liiNum}} (click)="inputCheckItem($event)"></td>
                  <td></td>
                  <td>{{like.zoneName}}</td>
                  <td style="cursor:pointer" (click)="goRestaurantDetail(like.relNum)">{{like.relName}}</td> 
                  <td>{{like.liiCredat}}</td>         
                </tr>
              </tbody>                                  
            </table>                                      
            <div>
              <button type="button" id="buttonDel" class="btn btn-outline-danger" (click)="delContent('like')">삭제</button>
            </div> 
                  
        </div>                
      </li>

      <li id="tab2" class="btnCon">
        <input class="radioInput" type="radio" name="tabmenu" id="tabmenu2">
        <label for="tabmenu2">작성한 후기</label>
        <div class="tabCon" >
            <table class="writeTable" border="1px solid rgb(5, 5, 90)">
                <colgroup>
                  <col style="width:5%">
                  <col style="width:8%">
                  <col style="width:20%">
                  <col style="width:35%">
                  <col style="width:20%">
                  <col style="width:12%">
                </colgroup>

                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">번호</th>
                  <th scope="col">식당 이름</th>
                  <th scope="col">제목</th>
                  <th scope="col">작성일</th>
                  <th scope="col">조회수</th>
                </tr>               
              </thead>

              <tbody>
                <tr *ngFor="let review of reviewLists" onmouseover="this.style.backgroundColor='rgba(255,234,244,0.5)'" onmouseout="this.style.backgroundColor=''">
                  <td><input type="checkbox" name="checkGetId" value={{review.reiNum}} (click)="inputCheckItem($event)"></td>
                  <td></td>
                  <td>{{review.relName}}</td>
                  <td style="cursor:pointer" (click)="goBoardResult(review.reiNum)">{{review.reiTitle}}</td>
                  <td><u>{{review.reiModdat}}</u>&nbsp;{{review.reiModtim}}</td>
                  <td>{{review.reiCount}}</td>           
                </tr>
              </tbody>
            </table>
              
            <div>
              <button type="button" id="buttonDel" class="btn btn-outline-danger" (click)="delContent('review')">삭제</button>
            </div>   
        </div>  
      </li>    

      <li id="tab3" class="btnCon">
        <input class="radioInput" type="radio" name="tabmenu" id="tabmenu3">
        <label for="tabmenu3">작성한 댓글</label>
        <div class="tabCon" >
          <table class="commentTable" border="1px solid rgb(5, 5, 90)" style="margin-left:2%">
              <colgroup>
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:30%">
                <col style="width:40%">
                <col style="width:30%">
              </colgroup>

              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">번호</th>
                <th scope="col">후기 제목</th>
                <th scope="col">작성 내용</th>
                <th scope="col">작성일</th>
              </tr>  
            </thead>
            
            <tbody>
              <tr *ngFor="let comment of commnetLists" onmouseover="this.style.backgroundColor='rgba(255,234,244,0.5)'" onmouseout="this.style.backgroundColor=''">
                <td><input type="checkbox" name="checkGetId" value={{comment.coiNum}} (click)="inputCheckItem($event)"></td>
                <td></td>
                <td style="cursor:pointer" (click)="goBoardResult(comment.reiNum)">{{comment.reiTitle}}</td>
                <td>{{comment.coiContents}}</td>
                <td><u>{{comment.coiCredat}}</u>&nbsp;{{comment.coiCretim}}</td>          
              </tr>
            </tbody>
            </table>            
            <div>
              <button type="button" id="buttonDel" class="btn btn-outline-danger" (click)="delContent('comment')" >삭제</button>
            </div>   
        </div>
      </li>

      <li id="tab4" class="btnCon">
        <input class="radioInput" type="radio" name="tabmenu" id="tabmenu4">
        <label for="tabmenu4">회원 정보 수정</label>        
        <div class="tabConEdit">
          <div class="reLogin" *ngIf="!isLogin; else modifyCustomer">
            <br>
              <h5 style="font-family: 'MapoPeacefull'">여러분의 개인정보 보호를 위해 한번 더 로그인 해주세요</h5>
              <label for="inputId"></label>
              <input type="text" class="fas fa-user fa-2x" id="inputId" placeholder="&#xf007; User ID" [(ngModel)]="confirmCui.cuiId" readonly>
              <br>
              <label for="password"></label>
              <input type="password" class="fas fa-key fa-2x" id="inputPassword" placeholder="&#xf023; Password" [(ngModel)]="confirmCui.cuiPwd">
              <br> 
              <button id="signBtn" type="button" (click)="confirmLogin()">Sign In</button>
          </div>
          <ng-template #modifyCustomer>
            <!-- Loading... Modify Customer Info... -->
            <app-signup [type]="'modify'" [inputCui]="confirmCui"></app-signup>
          </ng-template>
        </div>
      </li>

    </ul>
  </div>
</div>
