<div class="container">
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-4">
    <img src="../../../assets/imgs/jabchae.jpg" width="500px"height="650" style="border-radius: 10px;">
  </div>
  <div class="col-sm-9 col-md-6 col-lg-8">
    <div class="loginForm">
       <h1 style="margin-top: 20px;">Please sign in</h1>
       <br>
       <label for="inputId"></label>
       <i class="fas fa-user fa-2x">
        <input type="text" id="inputId" placeholder="User ID" [(ngModel)]="cui.cuiId">
      </i>
       <br>
       <br>
       <label for="passwordss"></label>
       <i class="fas fa-key fa-2x"></i>
        <input type="password" id="inputPassword" placeholder="Password" [(ngModel)]="cui.cuiPwd">
       
       <br>
       <br>
       <div id="check">
       <label for="cb1"></label>
       <input id="cb1" type="checkbox" value="remember-me"> &nbsp; Remember me
      </div>
        <br>
       <br>
       <button id="signBtn" type="button" (click)="doLogin()">Sign In</button>
       &nbsp;&nbsp;
       <button id="pwdBtn" type="button">Forget Password</button>
       <br>
       <br>
       <br>
       <h4>아직 회원이 아니신가요?</h4>
       <button id="registerBtn" type="button" (click)="goSignUp()">회원 가입</button>
       
    </div>
  </div>
</div>


</div>

